* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", system-ui, Arial, sans-serif;
}

body {
  background: linear-gradient(135deg, #0f172a, #020617);
  color: #e5e7eb;
}

input, button {
  outline: none;
}

button {
  cursor: pointer;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Utility */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
